{:paths ["src"]

 ;; Uncomment this section if inside GFW.
 :mvn/repos
 {"central"         {:url "https://maven.aliyun.com/repository/public/"}
  "clojars"         {:url "https://mirrors.tuna.tsinghua.edu.cn/clojars/"}
  "maven-central"   {:url "https://repo1.maven.org/maven2/"}
  "clojars-default" {:url "https://clojars.org/repo/"}}

 :aliases
 {;; Run with clj -T:build function-in-build
  :build {:deps       {io.github.clojure/tools.build {:mvn/version "0.9.6"}}
          :ns-default build}

  :run
  {:main-opts ["-m" "main.core"]}}

 :deps
 {org.clojure/clojure   {:mvn/version "1.11.1"}
  org.clojure/data.json {:mvn/version "2.5.0"}
  org.clojure/tools.cli {:mvn/version "1.0.219"}
  com.taoensso/sente    {:mvn/version "1.19.2"}
  com.taoensso/timbre   {:mvn/version "6.3.1"}
  http-kit/http-kit     {:mvn/version "2.7.0"}
  metosin/reitit        {:mvn/version "0.7.0-alpha7"}
  ring-cors/ring-cors   {:mvn/version "0.1.13"}
  ring/ring-core        {:mvn/version "1.11.0"}
  ring/ring-devel       {:mvn/version "1.11.0"}}}
